[ req ]
prompt = no
distinguished_name = req_distinguished_name
req_extensions = v3_req

[ req_distinguished_name ]
C = REPLACE_WITH_COUNTRY
ST = REPLACE_WITH_STATE_PROVINCE
L = REPLACE_WITH_CITY
O = REPLACE_WITH_ORGANIZATION
OU = REPLACE_WITH_ORGANIZATIONAL_UNIT
CN = REPLACE_WITH_COMMON_NAME_FQDN

[ v3_req ]
# Extensions to add to a certificate request
basicConstraints = CA:FALSE
keyUsage = digitalSignature, keyEncipherment
subjectAltName = @alt_names

[ alt_names ]
DNS.1 = REPLACE_WITH_SERVER_ALT_NAME_1
